[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==20.4"
python-dotenv = "==1.0.0"
python-baseconv = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.10"
